.mentions {
  margin: 1em 0;
}

.mentions--multiLine .mentions__control {
  height: 200px;
  /*font-size: 14pt;*/
  border: 1px solid silver;
}

.mentions--multiLine .mentions__control textarea {
  color: white;
}

.mentions--multiLine .mentions__highlighter {
  padding: 10px;
}

.mentions--multiLine .mentions__input {
  padding: 10px;
  outline: 0;
  /*border: 0;*/
}

.mentions__suggestions__list {
  width: 200px;
  /*font-size: 12pt;*/
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.mentions__suggestions__item {
  padding: 5px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.mentions__suggestions__item--focused {
  background-color: aliceblue;
}

.mentions__mention {
  background: rgba(96, 122, 160, 0.4);
  border-bottom: 1px dashed rgb(96, 122, 160);
}