body {
    background: #171721 !important;
}
#root .PageContainer {
    background: #171721;
}
#root .ContentContainer {
    background: #171721;
    margin: 0 !important;
}
#root .HeaderContainer, #root .HeaderLogo {
    background: transparent;
    box-shadow: none !important;
}
#root .HeaderContainer {
    background: linear-gradient(180deg, #171721, transparent) !important;
    z-index: 99;
}
#root .HeaderLogo {
    cursor: initial;
    background: transparent;
}
#root .HeaderLogo img {
    cursor: pointer;
}
#root .SideMenuContainer {
    background: transparent;
    box-shadow: none !important;
    z-index: 9;
}
#root .SideMenuContainer > div {
    background: transparent;
    position: relative;
    margin-top: 10px;
    margin-left: -2px;
}
#root .SideMenuContainer > div:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: -10px;
    right: 10px;
    left: 10px;
    background: #23232d;
    border-radius: 20px;
}
#root .SideMenuContainer > div:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: -10px;
    right: 10px;
    left: 10px;
    background: #23232d75;
    border-radius: 10px;
}
#root .SideMenuContainer a {
    position: relative;
}
#root .SideMenuContainer a:after {
    display: none !important;
}
#root .SideMenuContainer a svg {
    color: #767676;
}
#root .SideMenuContainer a.active svg,
#root .SideMenuContainer a:hover svg {
    color: #a9ddd8;
}
#root .Login_Form {
    margin-bottom: 50px;
    background: #25c281;
}
#root .Login_Form .Input_text,
#root .Login_Form .Input_text:hover  {
    background: transparent;
    box-shadow: none;
    color:#fff;
    width: 100%;
    border:none;
    border-bottom: #fff 2px solid;
    border-radius: 0;
    transition: all 0.3s ease-in-out 0s;
}
#root .Login_Form .Input_text::-webkit-input-placeholder {
    color:rgba(255,255,255,0.75);
}
#root .Login_Form .Input_text_container {
    width: 90%;
    margin: auto;
    margin-bottom: 25px;
}
#root .Login_Form .Input_text_container svg {
    color: #fff;
    width: 15px !important;
    height: 15px !important;
    margin-top: -4px;
}
#root .Login_Form button span {
    font-weight: bold !important;
}
#root .Login_Form_container {
    border-radius: 0;
    box-shadow: none;
}
#root .Login_container > img {
    margin-top: 50px;
}
#root .Login_Error {
    height: auto !important;
    width: 90%;
    margin: auto;
    margin-bottom: 15px;
}
#root .TabContainer {
    flex-wrap: wrap;
    margin: 0;
}
#root .TabContainer > div {
    padding: 6px 12px;
    box-shadow: none;
    border: none;
    margin-bottom: 10px;
    background: #23232d;
    position: relative;
    overflow: hidden;
}
#root .TabContainer > div:before {
    content: '';
    display: block;
    background: linear-gradient(125deg, transparent, transparent);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.5;
    height: 100%;
}
#root .TabContainer > div > label {
    position: relative;
}
#root .TabContainer > div.active, #root .TabContainer > div:hover {
    background: #25c281;
}
#root .TabContainer > div.active:before, #root .TabContainer > div:hover:before {
    display: none;
}
#root .TabContainer > div.active:hover {
    transform: scale(1) !important;
}
#root .header_user {
    position: relative;
}
#root .header_user:before {
    content: '';
    display: block;
    height: 45px;
    position: absolute;
    background: #23232d;
    left: -10px;
    top: -7px;
    border-radius: 50px 0 0 50px;
    right: -5px;
}
#root .HeaderNotification {
    padding: 0;
    position: relative;
}
#root .HeaderNotification:before {
    content: '';
    display: block;
    height: 45px;
    position: absolute;
    background: #23232d;
    left: 5px;
    top: 10px;
    border-radius: 0 50px 50px 0;
    right: 0;
}
#root .HeaderNotification svg {
    width:20px;
    height: 20px;
}
#root .HeaderNotification sup {
    width: 15px;
    height: 15px;
    min-width: 15px;
    min-height: 15px;
    box-shadow: none !important;
    border: none !important;
    background: #24364b;
    padding: 0;
    line-height: 15px;
    top: 4px;
    right: 3px;
    font-size: 11px;
}
#root .StatisticsContainer {
    background: none;
    box-shadow: none;
    margin: 25px -5px;
    padding: 0;
}
#root .StatictesCardContent {
    background: #23232d;
    box-shadow: none;
    border-radius: 15px;
    border: none;
    overflow: hidden;
    position: relative;
}
#root .StatictesCardContent > div {
    position: relative;
}
#root .StatictesCardContent:before {
    content: '';
    display: block;
    background: linear-gradient(125deg, #273051, transparent);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.5;
    height: 100%;
}
#root .StatictesCardNumber {
    padding: 0;
}
#root .StatictesCardNumber > div {
    text-align: right;
    display: block;
    width: 100%;
    padding: 0 15px;
    direction: rtl;
}
#root .StatictesCardNumber > div label:first-child {
    display: inline-block;
    line-height: 20px;
    font-weight: bold;
    font-size: 36px;
    text-align: right;
    width: auto;
    padding: 0;
    color: #fff;
}
#root .StatictesCardNumber > div label:last-child {
    font-size: 16px;
    color: #25b97d;
    padding: 0;
    display: inline-block;
    width: 40px;
}
#root .StatictesCardTitle {
    border: none;
    text-align: right;
}
#root .StatictesCardTitle label {
    text-align: right;
    line-height: 30px;
    color: #fff;
    overflow: hidden;
    direction: rtl;
    white-space: nowrap;
    font-size: 14px;
}
#root .StatictesBigTitle label {
    color: #25b97d;
}
#root .StatictesTopTitle {
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    text-align: right;
}
#root .StatictesBoxTitle {
    direction: rtl;
    margin-top: 25px;
}
#root .FilterButton {
    float: left;
    border-radius: 50px;
}
#root .FilterButton label {
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
#root .RequestsSticky {
    background: #171721;
    border: none !important;
    box-shadow: none !important;
    transform: translate(12px,0);
    width: calc(100% + 25px);
    top: 0;
    position: relative;
}
#root .TopTitle {
    color:#fff;
    font-weight: bold;
    font-size: 28px;
}
#root .ServerConected {
    color: #2adc00;
}
#root .ServerConected:after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background: linear-gradient(45deg, #2db900, #27ff00);
    border-radius: 15px;
    border: #48b51a 1px solid;
    box-shadow: #29e900 0 0 3px 1px;
    margin-left: 5px;
}
#root .ServerNotConected {
    color: #f51616;
}
#root .ServerNotConected:after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background: linear-gradient(45deg, #b90000, #ff6666);
    border-radius: 15px;
    border: #b51d1d 1px solid;
    box-shadow: #ff1f1f 0 0 3px 1px;
    margin-left: 5px;
}
#root .ServerConectting {
    color: #0076dc;
}
#root .ServerConectting:after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background: linear-gradient(45deg, #0006b9, #3300ff);
    border-radius: 15px;
    border: #0e1785 1px solid;
    box-shadow: #0068e9 0 0 3px 1px;
    margin-left: 5px;
}
#root .RequestsCountsContainer {
    width: 50%;
}
#root .RequestsCountsContainer label {
    color: #959595;
    text-align: right !important;
    display: block;
    position: relative;
    top: auto;
    right: auto;
    background: transparent;
    padding: 0 5px;
    font-size: 11px;
    font-weight: normal;
    width: 100%;
    margin-bottom: -15px;
    padding-top: 5px;
    padding-right: 10px;
}
#root .RequestsCountsContainer > div {
    border: none;
    border-radius: 6px;
    position: relative;
    margin: 0 5px;
    width: 100px;
    height: 55px;
    background: #23232d;
    padding: 0 5px;
}
#root .RequestsCountsContainer .Input_text_container {
    padding-top: 15px;
}
#root .RequestsCountsContainer span.CountValue {
    direction: rtl;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    text-align: right;
    display: block;
    width: 100%;
    padding: 0 10px;
    padding-top: 5px;
}
#root .RequestsCountsContainer span.CountValueText {
    color: #25c281;
    font-size: 14px;
    font-weight: normal;
    display: inline-block;
    margin-right: 3px;
}
#root .RequestsControllers button, #root .FilterButton {
    background: #23232d;
    border: none;
    border-radius: 10px !important;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
#root .RequestsControllers button:before, #root .FilterButton::before {
    content: '';
    display: block;
    background: linear-gradient(125deg, #273051, transparent);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.75;
    height: 100%;
}
#root .RequestsControllers button:first-child:before {
    content: '';
    display: block;
    background: linear-gradient(125deg, #512727, transparent);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.75;
    height: 100%;
}
#root .RequestsControllers button label, #root .FilterButton label {
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    position: relative;
}
#root .RequestsControllers button svg, #root .FilterButton svg {
    position: relative;
}
#root .RequestsTabsContainer {
    margin-bottom: 15px;
    padding-top: 15px;
}
#root .RequestsTabsContainer > div {
    border-bottom: transparent 1px solid;
    padding: 0 10px;
    line-height: 35px;
    display: inline-block;
    vertical-align: bottom;
    direction: rtl;
    margin: 0 5px;
    margin-bottom: 0px;
    border-radius: 10px;
    background: #23232d;
    user-select: none;
    transition:  all 0.3s ease-in-out 0s;
}
#root .RequestsTabsContainer > div:not(.active):hover {
    background: #25c281;
}
#root .RequestsTabsContainer > div > label {
    font-size: 14px;
    color: #fff;
    margin: 0 5px;
}
#root .RequestsTabsContainer > div.active {
    background: #25c281;
    border: #25c281 1px solid;
    border-bottom:transparent 1px solid;
}
#root .RequestsTabsContainer > div.active > label {
    color:#fff;
    font-weight: bold;
}
#root .RequestsTabsContainer > div > div {
    display: inline-block;
    height: 20px;
    line-height: 14px;
    font-size: 10px;
    border-radius: 15px;
    font-weight: bold;
    background: #171721;
}
#root .CardsContainer {
    background: transparent;
    box-shadow: none;
    padding: 0;
    margin: 0;
}
#root .ErrorMessageContainer {
    width:50%;
}
#root .ErrorMessageContainer > div {
    background: none;
    border: red 1px solid;
}
#root .ErrorMessageContainer svg {
    color: red;
    font-size: 16px;
    margin-left: 5px;
    margin-top: 5px;
}
#root .ErrorMessageContainer label {
    color: red;
    font-size: 16px;
    line-height: normal;
    font-weight: bold;
}
#root .CardContainer {
    background: #23232d;
    box-shadow: none;
    border-radius: 10px;
    border: none;
    margin: 5px;
    position: relative;
    overflow: hidden;
    padding: 5px 10px;
}
#root .CardContainer .CardID {
    position: absolute;
    top: -5px;
    width: auto;
    left: -10px;
    right: -10px;
    padding: 0 15px;
}
#root .CardContainer .CardID svg {
    color: #fff;
    font-size: 16px;
    vertical-align: middle;
}
#root .CardContainer .CardID label {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
}
#root .CardContainer .CardID .boxleft {
    position: absolute;
    display: block;
    background-color: transparent;
    bottom: -20px;
    height: 20px;
    width: 10px;
    border-top-left-radius: 10px;
    left: 0;
}
#root .CardContainer .CardID .boxright {
    position: absolute;
    display: block;
    background-color: transparent;
    bottom: -20px;
    height: 20px;
    width: 10px;
    border-top-right-radius: 10px;
    right: 0;
}
#root .CardContainer .CardBody {
    position: relative;
}
#root .CardContainer:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(125deg, #273051, transparent);
    opacity: 0.5;
}
#root .CardContainer .CardBodyRow {
    flex-wrap: wrap !important;
}
#root .CardContainer .CardBodyRow div {
    flex-wrap: wrap !important;
}
#root .CardContainer .CardBodyRow label {
    white-space: wrap !important;
}
#root .CardContainer .CardBodyRow label.FullWidthLabel {
    width:100% !important;
    margin-top: 5px !important;
}
#root .CardContainer .CardBody {
    justify-content: flex-start;
}
#root .CardContainer .CardHeader {
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top: 40px;
}
#root .RequestCardType {
    position: absolute;
    top: 20px;
    left: -50px;
    color: #fff;
    font-size: 14px;
    height: 30px;
    width: 180px;
    text-align: center;
    transform: rotate(-40deg);
    line-height: 30px;
}
#root .CardIdBox {
    width: 100%;
}
#root .CardHead {
    direction: rtl;
    flex-wrap: wrap;
}
#root .CardIdIcon {
    display: inline-block;
    padding: 0 8px;
    padding-left: 15px;
    border-radius: 6px;
    line-height: 30px;
}

.CardIdIcon svg {
    color: #fff;
    font-size: 18px;
    line-height: 35px;
    padding: 0;
    vertical-align: middle;
}
#root .CardIdText {
    background: #171721;
    font-size: 18px;
    line-height: 30px;
    padding: 0 15px;
    font-weight: bold;
    margin-right: -10px;
    border-radius: 6px;
}
#root .CardTime {
    font-size: 13px;
    color: #a1a1a1;
    line-height: 25px;
}
#root .CardInfoLine * {
    color: #24364b;
}
#root .NewBadge {
    background: #25c281;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    padding: 0 5px;
    border-radius: 3px;
    height: 18px;
    margin-top: 2px;
}
#root .DoneBadge {
    background: #24364b;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    padding: 0 5px;
    border-radius: 3px;
    height: 18px;
    margin-top: 2px;
}
#root .__react_component_tooltip.type-dark,
#root .__react_component_tooltip.type-dark * {
    color:#fff !important;
}
#root .CardStatBox {
    display: inline-block;
    vertical-align: top;
    background: #25c281;
    color: #fff;
    border-radius: 10px;
    font-size: 12px;
    line-height: 12px;
    padding: 0;
    margin-left: 15px;
    margin-bottom: 15px;
    text-align: center;
}
#root .CardStatBox p {
    padding: 0 15px;
    line-height: 20px;
    margin: 0;
    text-align: center;
}
#root .CardStatBox span {
    display: block;
    background: #24364b;
    border-radius: 10px;
    text-align: center;
    font-size: 28px;
    line-height: initial;
    font-weight: bold;
    padding: 0 10px;
}
#root .CardStatBox.ss {
    background: #E84E4F;
}
#root .CardStatBox.ss span {
    font-size: 12px;
    line-height: 42px;
    direction: rtl;
}
span.CardServicesTitle {
    font-weight: bold;
    font-size: 18px;
    color: #25c281;
    display: block;
    width: 100%;
    direction: rtl;
    margin-bottom: 5px;
}
#root .CardServices {
    display: block;
    width: 100%;
}
#root .CardServices table tr th:first-child {
    width: 100%;
}
#root .CardServices table tr th, #root .CardServices table tr td {
    text-align: center;
    white-space: nowrap;
    padding: 0 5px;
}
#root .CardServices table tr {
    border-bottom: #5e5e5e 1px solid;
}
#root .CardServices table tr:last-child {
    border-bottom: none;
}
#root .CardServices table tr th:first-child, #root .CardServices table tr td:first-child {
    text-align: right;
    white-space: normal;
}
#root .CardServices table {
    direction: rtl;
    color:#fff;
}
#root .CardStatusBox div {
    width: 100% !important;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}
#root .CardStatusBox label {
    width: 100%;
    border-radius: 50px;
    color: #fff;
}
#root .CardTools {
    border-top: #585858 1px solid;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}
#root .CardTools svg {
    color: #fff;
}
#root .CardTools a label {
    font-weight: bold;
    color: #25c281;
}
#root .number_label {
    display: inline-block;
    width: auto !important;
    background: #171721 !important;
    color: #fff !important;
    min-width: auto !important;
    text-align: center;
    border-radius: 6px;
    font-weight: bold;
    padding: 0 10px !important;
    line-height: 25px;
}
#root .status_note {
    width: 100%;
}
#root svg.recharts-surface path.recharts-sector {
    stroke: transparent;
}
#root .PieChartContainer {
    margin: auto;
}
#root .ChartContainer {
    padding: 0 !important;
}
body:not(.show-chart):not(.show-pie):not(.show-line) #root .FilterButton.box-view,
body.show-chart #root .FilterButton.pie-view,
body.show-pie #root .FilterButton.pie-view,
body.show-line #root .FilterButton.line-view {
    background: #25c281;
}
body:not(.show-chart):not(.show-pie):not(.show-line) #root .FilterButton.box-view::before,
body.show-chart #root .FilterButton.pie-view::before,
body.show-pie #root .FilterButton.pie-view::before,
body.show-line #root .FilterButton.line-view::before {
    display: none;
}
body:not(.show-chart):not(.show-pie):not(.show-line) #root .ChartContainer,
body.show-chart #root .DataBoxsContainer,
body.show-pie #root .DataBoxsContainer,
body.show-pie #root .ChartContainer.chart1,
body.show-line #root .DataBoxsContainer,
body.show-line #root .ChartContainer.chart2 {
    display: none;
}
body.show-chart #root .PieChartContainer,
body.show-pie #root .PieChartContainer,
body.show-line #root .PieChartContainer {
    height: 700px !important;
}
#root .StatictesCardContent.twoCol .StatictesCardNumber {
    border: none !important;
    padding-top: 10px;
}
#root .twoCol .StatictesCardNumber > div label:last-child {
    width: auto;
}
#root .BarChart path.recharts-rectangle.recharts-tooltip-cursor {
    fill :#171721 !important;
}
#root .ChatWrap {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    z-index: 99999 !important;
    background: rgba(0,0,0,0.5) !important;
    backdrop-filter: blur(6px) !important;
}
#root .ChatBox {
    position: absolute !important;
    top: 80px !important;
    width:80% !important;
    max-width: 900px !important;
    height: calc(100vh - 180px) !important;
    left: 50% !important;
    transform: translate(-50%,0) !important;
}
#root .ChatClose {
    position: absolute !important;
    top: -35px !important;
    right: -40px !important;
    z-index: 999 !important;
}
#root .ChatClose svg {
    width:35px !important;
    height: 35px !important;
    cursor: pointer !important;
}
#root .chatIcon {
        margin-right: 12px !important;
        padding-top: 4px !important;
        cursor: pointer !important;
}
#root .SingleChat {
    height: 500px !important;
}
#root .SingleSBChat {
    height: 500px !important;
}
#root .singleSBSettings > div {
    width: 100% !important;
}
#root .SBpopup {
    display: flex !important;
    justify-content: space-between !important;
    flex-wrap: nowrap !important;
    align-items: stretch !important;
}
#root .popupSBChat {
    width: calc(100% - 320px) !important;
    height: calc(100vh - 180px) !important;
}
#root .popupSBSettings {
    width: 320px !important;
}